<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1Latest Features</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Slam Blogs</string>
			<key>PubDate</key>
			<date>2011-08-12T23:15:12Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam App</string>
			<key>PubDate</key>
			<date>2011-08-12T23:10:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam Custom SplashScreens</string>
			<key>PubDate</key>
			<date>2011-08-12T19:11:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>SLAMOnline</string>
			<key>PubDate</key>
			<date>2011-08-12T19:03:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-12T18:55:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-12T18:43:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-12T18:20:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-12T18:10:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-12T17:11:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-12T17:00:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
	</array>
	<key>2News &amp; Rumors</key>
	<array>
		<dict>
			<key>Title</key>
			<string>SlamOnline</string>
			<key>PubDate</key>
			<date>2011-08-12T23:15:12Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>SlamFam Picks</string>
			<key>PubDate</key>
			<date>2011-08-12T23:11:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam Global</string>
			<key>PubDate</key>
			<date>2011-08-12T23:00:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-12T22:56:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam</string>
			<key>PubDate</key>
			<date>2011-08-12T22:21:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>SLAM</string>
			<key>PubDate</key>
			<date>2011-08-12T22:03:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-12T21:39:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-12T21:21:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-12T21:17:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-12T21:12:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
	</array>
	<key>3NBA</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Slam NBA</string>
			<key>PubDate</key>
			<date>2011-08-09T00:22:13Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam NBA</string>
			<key>PubDate</key>
			<date>2011-08-09T00:00:13Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam NBA</string>
			<key>PubDate</key>
			<date>2011-08-08T23:59:13Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-08T23:31:13Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-08T23:02:13Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-08T23:00:13Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-08T21:00:13Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-08T20:56:13Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-08T20:45:13Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-08T20:00:13Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
	</array>
	<key>4College</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Slam Logo</string>
			<key>PubDate</key>
			<date>2011-08-09T00:22:13Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam</string>
			<key>PubDate</key>
			<date>2011-08-08T23:32:13Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-09T00:22:13Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-07T22:22:13Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-07T21:21:13Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam</string>
			<key>PubDate</key>
			<date>2011-08-07T19:05:21Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-06T15:14:59Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-06T15:01:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-05T14:18:45Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-05T13:26:35Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
	</array>
	<key>5Womens</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-11T00:58:22Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-11T00:21:22Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-11T00:02:22Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T23:22:22Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T23:12:22Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T23:00:22Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T22:55:22Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T22:41:22Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T22:20:22Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T22:01:22Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
	</array>
	<key>6Magazine</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-11T00:58:22Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-11T00:50:22Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-11T00:40:22Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-11T00:23:22Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T23:23:22Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T23:00:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T22:11:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T21:24:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T19:33:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T17:44:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
	</array>
	<key>7Kicks</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T19:33:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T19:20:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T18:59:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T18:43:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T18:32:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T17:57:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T17:31:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam News</string>
			<key>PubDate</key>
			<date>2011-08-10T17:03:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam Logo</string>
			<key>PubDate</key>
			<date>2011-08-10T16:32:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slam Logo</string>
			<key>PubDate</key>
			<date>2011-08-10T15:01:00Z</date>
			<key>ImageName</key>
			<string>SlamLogo.png</string>
		</dict>
	</array>
</dict>
</plist>
